@media screen and (max-width: 800px) {

    body{
         background-image: linear-gradient(to right top, #6bd1a8, #44cebf, #23c8d4, #2dc1e4, #54b7eb, #5bbaef, #62bcf4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);        
    }
    
    .s1{
        display:flex ;
        width: 1700px;
        flex-basis: 100%;
        /* flex-wrap: wrap; */
        justify-content: center;
        align-items: center;
        /* flex-wrap: wrap; */
        background-image: linear-gradient(to left top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    }


    .flowerR{
        display: none;
    }

    .container{
        /* width: 100%; */
        margin: 155px 0px;
        padding: 0px 365px;
        height: fit-content;
        display: flex;
        flex-basis: 100%;
        flex-direction: row;
        gap: 15px;
        justify-content: space-around;
        align-items: center;
    }

    .img{
        width: 330px;
        border-radius: 38%;
        border-color: #00bf72;
        border-image-slice: 30px;}
    
        .img1{ 
            width: 290px;
        }

        .img3{
            background-size: center center cover;
            height: 423px;
            width: 325px;
            border-radius: 38%;
            border-color: #00bf72;
        }
    



    .s2{
        width: 1700px;
        max-height: 100%;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        background-image: linear-gradient(to right top, #6bd1a8, #44cebf, #23c8d4, #2dc1e4, #54b7eb, #5bbaef, #62bcf4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
        padding-right: 0px;
        /* height: 250px; */
    }


    .contents2{
        display:flex;
        width: 80%;
        margin-top: 350px;
        margin-left: 50px;
        padding: 0px 60px;
    
    }



    .w{
       padding-left: 55px;
        padding-bottom: 560px;
        padding-right: 35px;
    }

    .w h1{
        text-align: center;
        font-size: 70px;
        justify-content: center;
    }

    .w h2{
        text-align: center;
        font-size: 40px;
        justify-content: center;
    }


    .hjl{
        /* height: 210px; */
        width: 300px;
        border-radius: 38%;
        border-color: #00bf72;
        border-image-slice: 30px;
    }

    

    .newimage{
        padding-left: 80px;
    }



    .audio{
        display: none;
    }

     .h2{
         padding-left:0px 15px;
     }
    

    /* .content{
        display:flex;
        flex-direction:column;
        flex-flow: row;
        width: 100%;
    
    } */

    

}
