*{
    margin:0;
    padding: 0;

}
 body{
    height: fit-content;
 }
/* 
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-image: linear-gradient(to left top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    min-height: 100px;
} */

.s1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-image: linear-gradient(to left top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    max-height: 100vh;
}

.container{
    padding:55px ;
}

.img{
    width: 200px;
    border-radius: 38%;
    border-color: #00bf72;
    border-image-slice: 30px;}

    .img1{ 
        width: 225px;
        animation: rotateImg 4s linear infinite;
    }

    @keyframes rotateImg {
        from{
            transform: rotateY(0deg);
        }
        to{
            transform: rotateY(1080deg);
        }
        
    }

    .img3{
        background-size: center center cover;
        height: 270px;
        width: 200px;
        border-radius: 38%;
        border-color: #00bf72;
    }
    .flowerR{
        height: 33px;
    }

    .flowerR{ 
        animation: rotateR 3.8s linear infinite;
    }

    @keyframes rotateR {
        from{
            transform: rotate(0deg);
        }
        to{
            transform: rotate(1080deg);
        }
        
    }



    .parent{
        position: relative;
    }
.content{
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
}

.img3{
    position: relative;
    top: 0;
    left: 0;

}
.flowerR{
    position: absolute;
    top: 89px;
    right: 470px;
}

.s2{
    width: 100%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-image: linear-gradient(to right top, #6bd1a8, #44cebf, #23c8d4, #2dc1e4, #54b7eb, #5bbaef, #62bcf4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    /* height: 250px; */
}
.w{
    padding-left: 23px;
    padding-bottom: 500px;
    padding-right: 50px;
}
.contents2{
    display: inline-flex;
    padding: 25px;

}


.h2{ 
    height: 300px;
    animation: rotateh2 4.5s linear infinite;
}

@keyframes rotateh2 {
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(-1080deg);
    }
    
}
.f2{
    height: 100px;
}


.f2{ 
    animation: rotatef2 3.8s linear infinite;
}

@keyframes rotatef2 {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-1080deg);
    }
    
}

h1{

    text-align: justify;
}

.hjl{
    height: 320px;
    width: 300px;
    border-radius: 38%;
    border-color: #00bf72;
    border-image-slice: 30px;
}

.newimage{
    padding-right: 100px;
}
.audio{
    height: 20px;
    width: 255px;
}


img:hover {
    animation: Shake 1.3s linear infinite;
}
  
/*Using keyframes for shaking an image*/
@keyframes Shake {
    0% {
        transform: rotate(5deg);
    }
  
    25% {
        transform: rotate(-6deg);
    }
  
    50% {
        transform: rotate(5deg);
    }
  
    75% {
        transform: rotate(-6deg);
    }
  
    100% {
        transform: rotate(5deg);
    }
}



.img{
    animation: bounce1 0.6s cubic-bezier(0.5, 0.5, 1, 0.5);
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes bounce1 {
    from {transform: translate3d(0,0,0);}
        to{
            transform: translate3d(0,7px, 0);
        }
}

.img3{
    animation: bounce2 0.9s cubic-bezier(0.5, 0.5, 1, 0.5);
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes bounce2 {
    from {transform: translate3d(0,0,0);}
        to{
            transform: translate3d(0,7px, 0);
        }
}


.hjl{
    animation: bounce 0.9s cubic-bezier(0.5, 0.5, 1, 0.5);
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes bounce {
    from {transform: translate3d(0,0,0);}
        to{
            transform: translate3d(0,45px, 0);
        }
} 

.w{
    animation: bounce3 0.6s cubic-bezier(0.5, 0.5, 1, 0.5);
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes bounce3 {
    from {transform: translate3d(0,0,0);}
        to{
            transform: translate3d(0,27px, 0);
        }
} 
h1{
    font-size: 50px;
    font-weight: bolder;
    font-family: cursive;
    color:rgb(243, 16, 16);
}
h2{
    font-size: 24px;
    font-weight: bold;
    font-family: cursive;
    color:#ea0b30;
}